@keyframes jitteryDrop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10%);
  }
  30% {
    transform: translateY(10%);
  }
  40%,
  100% {
    transform: translateY(0);
  }
}

.jittery {
  animation: jitteryDrop 2s ease forwards;
}
